* {
  margin: 0;
  padding: 0;
  font-family: "poppins";
}
h1 {
  color: whitesmoke;
}

body {
  background: rgba(24, 23, 23, 0.93);
  height: fit-content;
}

.container {
  width: 90%;
  max-width: 360px;
  padding: 35px 30px;
  margin: 80px auto 0;
  background: linear-gradient(130deg, rgb(70, 187, 132), rgb(110, 163, 248));
  color: whitesmoke;
  border-radius: 25px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: none;
  outline: none;
  width: 75%;
  height: 40px;
  border-radius: 50px;
  color: rgb(103, 101, 101);
  padding-left: 20px;
  font-size: 18px;
  background: #c9faf0;
}

.search button {
  border: none;
  outline: none;
  background: #eafffb;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.search img {
  width: 16px;
  height: 19px;
}

.weather-icon {
  width: 150px;
  margin-top: 15px;
}

.weather h1 {
  font-size: 45px;
  margin-bottom: 10px;
  margin-top: -10px;
}

.weather h2 {
  font-size: 30px;
}

.details {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.col {
  display: flex;
  margin-top: 20px;
  align-items: left;
  justify-content: center;
}

.col img {
  width: 32px;
  height: fit-content;
  margin: 0;
  padding: 0;
}

.humidity,
.wind {
  margin-left: 10px;
  font-size: 22px;
}

.col p {
  font-size: 12px;
}

p {
  text-align: center;
}

.error p {
  text-align: left;
  margin-left: 10px;
  font-size: 15px;
  margin-top: 10px;
  display: none;
}
